body, header, main, footer{
    display: flex;
    flex-direction: column;
}
body{
    min-height: 100vh;
    width: 100vw;
    background: rgb(247, 247, 247);
    font-family: "Source Sans Pro", sans-serif, monospace;
    align-items: center;
}
header, main, footer{
    align-items: center;
    text-align: center;
}
main{
    hyphens: auto; /*This is a good thing to have */
    flex-grow: 1;
    min-width: 0;
    text-align: center;
    background: white;
}
ul{
    list-style: none;
    text-align: center;
    padding: 0;
    width: 90vw;
}
li{
    background-color: white;
    margin-bottom: 5px ;
    padding: 15px;
}
a{
    text-decoration: none;
    color:black;
    display: inline-block;
    font-size: 17px;
    font-family: "Source Sans Pro";
    font-weight:900;
}
p{
    width: 90vw;
    font-weight: 400;
}
header p{
    color:rgb(126, 126, 126)
}
footer p{
    color: rgb(126, 126, 126);
}
footer {
    padding-top: 25px;
}

#email{
    padding-bottom: 30px;
    padding-top: 0;
    margin-top: 0;
}

span{
    color:rgb(63, 63, 63);
    font-weight: 900;
}
h2, h3{
    font-size: 17px;
    font-weight:900;
}
main h2{
    padding:20px;
}
main p{
    padding-bottom: 20px;
}
#end div h2, a{
    font-size: 15px;
}
.img{
    width: 90vw;
}
#img-1{
    width: 70%;
}
#end{
    border-top: 1px solid rgb(211, 211, 211);
    display: flex;
    align-items: center;
    width:90vw;
    justify-content: space-between;
    padding-bottom: 10px;
}
#bot-nav{
    display: none;
}

@media screen and (min-width:768px){
    header{
        padding-bottom: 60px;
    }
    header h1{
        margin-bottom:10px;
    }
    header img, p{
        flex-grow: 1;
        flex-basis:100px;
    } 
    ul{
        margin-top: 0px;
        padding-top: 0px;
        display: flex;
        justify-content: center;
    }
    .row{
        display: flex;
        width: 95vw;
        text-align: left;
        height: 200px;
        font-size:20px;
        padding-top: 30px;
    }
    .row img{
        order:1;
        flex:1;
        width: 40vw;
        height: auto;

    }
    .row p{
        flex:2;
        margin:0;
    }
    main{
        flex-direction: row;
        align-items: center;
        flex-wrap:wrap;
        
    }
    main h2{
        width:100vw;
        padding-top:30px;
    }
    main h3{
        padding-top: 20px;
    }
    main div{
        flex: 1 50%;
        width:auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img{
        width:45vw;
        height: auto;
        
    }
    main div p{
        width: 30vw;
        text-align: center;
        margin-top: 0;
        margin-bottom: auto;
        padding:0;
    }   
    #contact{
        padding-bottom: 0px;
        margin-bottom: 0;
    }
    footer p{
        width: 43vw;
        margin: 0;
        padding-top: 35px;
        flex-basis: 40px;
    }
    #top{
        display: none;
    }
    #bot-nav{
        display: flex;
        display:inline-block;
        align-items: center;
        justify-content: center;
    }
    #bot-nav ul{
        width: auto;
        margin-bottom: 0;
    }
    #bot-nav li{
        padding-right: 0;
    }
     li{
        background: none;
    }
    #end{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
    }

}
@media screen and (min-width:1024px){
    
    .row2{
        display: flex;
        justify-content: space-between;
        width: 90vw;
        text-align: left;
        height: auto;
        font-size:20px;
        align-items: center;
    }
    .row2 h1{
        width: 30vw;
        font-size: 30px;
        margin: 0;
    }
    .row2 nav{
        width: 30vw;
        display: flex;
        justify-content: flex-end;
    }
    .row2 ul{
        justify-content: flex-end;
        margin:0;
    }
     li{
        padding-right: 0;
        padding-left: 60px;
    }
    .row2 li a{
        font-size: 18px;
    }
    .row{
        width:90vw;
        justify-content: space-between;
    }
    .row img{
        height: 30vh;
    }
    .row p{
        font-size:30px;
    }
    header{
        height:45vh;
    }
    main{
      width:86vw;
      justify-content: space-between; 
      padding: 2vw; 
    }
    main h2{
        margin-bottom: 35px;
    } 
    main .img{
        width: 27vw;
    }
    main div{
        flex: 1 10%;
    }
    main  div p{
        width: 24vw;
    }
    #end{
        padding-bottom: 0;
    }
}